@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --light-purple: rgb(236, 220, 249);
  --dark-purple: rgb(81, 30, 115);
  --dark: rgb(25, 3, 41);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh; /* vh -- 1/100 height of the viewport */
    background: linear-gradient(rgb(26, 4, 40), rgb(49, 83, 111));
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between; /* defines how the browser distributes space between and around content items*/
    align-items: center;
    z-index: 10;
}

/*
header .logo{
    color: var(--light-purple);
    font-weight: 700px;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 20px;
    position:absolute;
}*/
header .cat{
    width: 100px;
}

header ul{
    display: flex; /* CSS Flexible Box Model */
    justify-content: center;
    align-items: center;
}

header ul li{
   list-style: none;
   margin-left: 60px; 
}

header ul li a{
    text-decoration: none;
    padding: 6x 10x;
    color: var(--light-purple);
    border-radius: 15px;
}

header ul li a:hover,
header ul li a:active{
    background: var(--light-purple);
    color: var(--dark-purple);
    padding: 5px 10px;
}

 section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }

 section::before {
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--dark), transparent);
    z-index: 9;
 }

 section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
 }

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 2;
}

#title{
    position: absolute;
    right: -340px;
    color: white;
    white-space: nowrap; /*sets how white space inside an element is handled */
    font-size: 7.5vw;
    z-index: 1;
    /*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
    text-shadow: var(--dark) 8px 0 10px;
    
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background: white;
    color: var(--dark);
    font-size: 1.5em;
    z-index:7;
    transform: translateY(100px);
    /*background-image: linear-gradient(#ffffff, #8c6cf7);*/
    border: 2px solid var(--light-purple);
    box-shadow: var(--dark) 4px 4px 0 0;
}

.sec{
    position: relative;
    padding: 100px;
    background: var(--dark);
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: var(--light-purple);
}

.sec p{
    color: var(--light-purple);
    font-size: 1em;
    text-align: justify;
}
.sec h3{
    color: var(--light-purple);
    font-style: italic;
}